{
	"env": {
		"es6": true,
		"node": true
	},
	"extends": [
		"airbnb-base"
	],
	"parserOptions": {
		"ecmaVersion": 2020,
		"sourceType": "module"
	},
	"rules": {
		"no-plusplus": "off",
		"eol-last": "off",
		"no-tabs": "off",
		"prefer-destructuring": "off",
		"linebreak-style": "off",
//		"indent": ["error", "tab"],
		"indent": "off",
		"no-unused-vars": "warn"
	}
}
